@{
    @model HomeModel
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Nome</h1>
    <p>Uma aplicação simples com fins didaticos. Seu Email é @Model.Email</a>.</p>
</div>
